In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
data = pd.read_csv('E:\data_science\kaggle\hp_data.csv')
data.head()

,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk,price
0,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1,6300000
1,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,11500000
2,Whitefield,Super built-up Area,1019,Resale,1,2,5,2,3800000
3,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4,10500000
4,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3,11500000

In [3]:
data.shape

(3500, 9)

In [4]:
data.isnull().sum()

place         0
built         0
sqft          0
sale          0
yearsOld      0
floor         0
totalFloor    0
bhk           0
price         0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 9 columns):
place         3500 non-null object
built         3500 non-null object
sqft          3500 non-null int64
sale          3500 non-null object
yearsOld      3500 non-null int64
floor         3500 non-null int64
totalFloor    3500 non-null int64
bhk           3500 non-null int64
price         3500 non-null int64
dtypes: int64(6), object(3)
memory usage: 246.2+ KB

In [6]:
#define X and Y
X=data.loc[:,['sqft','yearsOld','floor']]
y=data.price

In [7]:
y.head()

0     6300000
1    11500000
2     3800000
3    10500000
4    11500000
Name: price, dtype: int64

# train-test-split

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=10)

In [9]:
print("X_train shape:",X_train.shape)
print("X_test shape:",X_test.shape)
print("y_train shape:",y_train.shape)
print("y_test shape:",y_test.shape)

X_train shape: (2625, 3)
X_test shape: (875, 3)
y_train shape: (2625,)
y_test shape: (875,)

In [10]:
model=LinearRegression()

In [11]:
model.fit(X_train,y_train)#training
y_predict=model.predict(X_test)#prediction
r2_score(y_test,y_predict)#Evaluation

0.6252542706612458

In [12]:
y_test[0:5]

2509     4025000
3344    15000000
1361     6300000
188      6300000
1707    15000000
Name: price, dtype: int64

In [13]:
y_predict[0:5]

array([8217058.18235046, 9361939.48169013, 7130251.75417168,
       7130251.75417168, 9361939.48169013])

# cars dataset

In [14]:
data1 = pd.read_csv('E:\data_science\mtcars.csv')
data1.head()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [15]:
X=data1.loc[:,['hp','am','wt']]
y=data1.mpg

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=12)

In [17]:
print("X_train shape:",X_train.shape)
print("X_test shape:",X_test.shape)
print("y_train shape:",y_train.shape)
print("y_test shape:",y_test.shape)

X_train shape: (24, 3)
X_test shape: (8, 3)
y_train shape: (24,)
y_test shape: (8,)

In [18]:
model=LinearRegression()

In [19]:
model.fit(X_train,y_train)#training
y_predict=model.predict(X_test)#prediction
r2_score(y_test,y_predict)#Evaluation

0.9101936924199396

In [20]:
y_test[0:5]

7     24.4
24    19.2
18    30.4
14    10.4
1     21.0
Name: mpg, dtype: float64

In [21]:
y_predict[0:5]

array([22.12525078, 16.11234141, 29.36269849, 11.71785013, 24.17673757])